@import '../../index.scss';


.floor-title {
  @include floorTitle
}

  .encounter-grid {
    display: grid;
    grid-template-columns: 1fr .5fr;
    grid-template-rows: .25fr 2fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 70%;
    margin: 0 auto;
  }

  // .encounter-sidebar {
  //   grid-area: 2 / 2 / 3 / 3;
  //   // grid-area: 1 / 2 / 3 / 3;;
  // }

  .encounter-list-title {
    grid-area: 1 / 2 / 2 / 3;
    width: 100%;
    max-height: 40px;
    background: $gdGreenSolid;
    color: white;
    font-size: 20px;
    border: solid $gdGreenSolid 5px;
    margin: 15px 0 -5px 0;
    text-align: center;
  }

  .encounter-list {
    grid-area: 2 / 2 / 3 / 3;
    width: 100%;
    height: 100%;
    font-size: 16px;
    text-align: center;
    background: black;
    color:white;
    border: $gdGreenSolid solid 5px;

    li {
      margin:10px;
    }
  }

  .encounter {
    grid-area: 2 / 1 / 3 / 2;
    width: 100%;
    height: 100%;
  }

  .new-random {
    grid-area:  1 / 1 / 2 / 2;
    width: 100%;
    max-height: 40px;
    background: $gdGreen;
    color: white;
    font-size: 25px;
    border: solid $gdGreenSolid 5px;
    margin: 15px 0 -5px 0;
  }
