@import '../../index.scss';

.floor-container {
  // @include floorBorder;
  width: 70%;
  margin: 0 auto;
}

.floor-title {
  background: $gdGreenSolid;
  color: white;
  text-align: center;
  font-size: 30px;
  padding: 0 0 10px 0;
}

.floor-controls {
  // @include floorBorder;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;

  button {
    border: none;
    width: 45vw;
    height: 50px;
    font-size: 20px;

  }
}

  .encounter-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 0px;
  }

  .premade {
    grid-area: 1 / 2 / 2 / 3;
  }

  .random {
    grid-area: 1 / 1 / 2 / 2;
  }

  .new-random {
    width: 100%;
    background: $gdGreen;
    color: white;
    font-size: 60px;
    border: solid $gdGreenSolid 5px;
    @include encounterMarg;
  }
