@import '../../index.scss';

.saved-message {
  @include floorTitle
}

.saved-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  width: 90%;
  margin: 10px auto;
}
