@import '../../index.scss';

.saved-message {
  @include floorTitle
}

.saved-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  width: 90%;
  margin: 10px auto;
}

@media screen and (max-width: 1000px) {
  .saved-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 660px) {
  .saved-list {
    grid-template-columns: repeat(2, 1fr);
    width: 95%;
  }
}

@media screen and (max-width: 550px) {
  .saved-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
