@import '../../index.scss';

.desktop-title {
  @include headerStyle;
}

.mobile-title {
  @include headerStyle;
  @include hide;
}

.nav-bar {
 // width: 95%;
 background: black;
 margin: 0 auto;

  ol{
    width:100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;

    button {
      width: 7.2vw;
      height: 50px;
      border-bottom: solid black 1px;
      background: white;
      font-size: 14px;
      padding: 4px;
      // margin: 0 1px;
    }
  }
}
