@import '../../index.scss';

.desktop-title {
  @include headerStyle;
}

.mobile-title {
  @include headerStyle;
  @include hide;
}

.nav-bar {
 // width: 95%;
 margin: 0 auto;
 border-bottom: solid black 1px;

  ol{
    width:100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;

    button {
      width: 7.2vw;
      height: 50px;
      background: white;
      font-size: 14px;
      padding: 4px;

      &:hover {
        @include transition;
        cursor: cell;
        height: 40px;
        border: none;
        box-shadow: 0px 1px 4px 1px $gdGreen;
      }
    }


  }
}
