@import '../../index.scss';

.encounter-container {
  width: 100%;
  background: black;
  border: solid $gdGreenSolid 6px;
  padding: 10px;
  // @include encounterMarg;

  .description {
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
    color: white;
  }

  h3 {
    font-size: 14px;
    text-align: left;
    padding: 3px 0 3px 10px;
    color: white;
  }

  .situation-container {
    width: 95%;
    border: solid $gdGreen 2px;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .btn-container {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  button {
    width: 40%;
    padding: 2px;
    // margin: 8px;
  }
}
