*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background: url('./assets/star-field-2.png') repeat top center fixed;
  background-size: cover;
}

button {
  border: none;
  background: white;
}

a, a:link, a:visited, a:focus {
  width: 100%;
  height: 50px;
  margin: 0 auto;
  color:white;
  text-decoration:none;
  text-align: center;
  cursor: cell;
}
