*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background: url('./assets/star-field.png') no-repeat top center fixed;
}

button {
  border: none;
}
