@mixin hide {
  display: none;
}

@mixin reveal {
  display: block;
}

@mixin headerStyle {
  width: 100%;
  text-align: center;
  background: $gdGreen;
  color: white;
  font-size: 90px;
  margin-bottom: -26px;

  @media screen and (max-width: 1110px) {
      font-size: 80px;
      margin-bottom: -24px;
  }

  @media screen and (max-width: 990px) {
      font-size: 73px;
      margin-bottom: -21px;
  }

}

@mixin mobileHeader {
  width: 100%;
  text-align: center;
  background: $gdGreen;
  color: white;
  font-size: 90px;
  margin-bottom: -26px;

  @media screen and (max-width: 540px) {
      font-size: 78px;
      margin-bottom: -21px;
  }

  @media screen and (max-width: 470px) {
      font-size: 70px;
      margin-bottom: -20px;
  }

  @media screen and (max-width: 410px) {
      font-size: 66px;
      margin-bottom: -19px;
  }

  @media screen and (max-width: 400px) {
      font-size: 60px;
      margin-bottom: -18px;
  }

  @media screen and (max-width: 350px) {
      font-size: 55px;
      margin-bottom: -16px;
  }

  @media screen and (max-width: 320px) {
      font-size: 50px;
      margin-bottom: -16px;
  }

}

@mixin transition {
  transform: scale(1.01);
  transition: transform 300ms;
  transition: all 0.2s ease-in-out;
}

@mixin floorBorder {
  border-left: solid $gdGreen 2px;
  border-right: solid $gdGreen 2px;
}


@mixin floorTitle {
  width: 100%;
  font-size: 30px;
  background: $gdGreenSolid;
  color: white;
  text-align: center;
  padding: 5px 0 5px 0;
}
