body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  // color: $white;
  // line-height: 1.7;
  // color: $primary-text;
}

h1 {
  //   font-family: 'Roboto', sans-serif;
  // font-size: 5rem;
  // font-weight: 500;
}

h2 {
  // font-size: 2rem;
  // font-weight: 500;

}

h3 {
  // font-size: 1.5rem;
}

h4 {
  // font-size: 1.45rem;
}

p {
  // font-size: 1.6rem;
  // line-height: 1.5;
}
